<%- include('header.ejs')%>
    <div class="container aboutus">
      <div class="row">
        <div class="col-md-6">
          <img src="image/mits.jpg" class="pic shadow" />
        </div>
        <div class="col-md-6 ">
          <div class="text">
            <h2>About Us</h2>
            <p style="text-align: justify;">
              Madhav Engineering College was established in 1957 by Maharaja
              Jivajirao Scindia. The foundation stone of the institute was laid
              by Dr. Rajendra Prasad, the former President of India, on 20
              October 1956. The building was inaugurated on 11 December 1964 by
              Dr. S. Radhakrishnan, the former President of India.The
              institute started with Bachelor of Engineering courses in civil,
              mechanical and electrical engineering. Postgraduate and Ph.D.
              courses in applied sciences were introduced in 1967. Undergraduate
              courses in electronics engineering and architecture were started
              in 1981 and 1984 respectively. A Bachelor of Engineering in computer
              science and engineering and chemical engineering were offered from
              1994 and 1995 respectively. An information technology course was
              started in 2000.
            </p>
          </div>
        </div>
      </div>
    </div>
    <%- include('footer.ejs')%>
  </body>
</html>
