<%- include('header.ejs')%>
    <div class="container-fluid">
        <div class="container">
            <h2 class="a"><b style="font-size: 50px;">ABOUT US</b></h2>
            <br>
            <div class="row">
                <div class="col-md-7">

                    <p class="b">ITM University is a private university located in Gwalior, Madhya Pradesh, India. 
                      It was established by the Institute for Technology and Management (ITM) Trust in 1997. 
                      The university offers a wide range of undergraduate, postgraduate, and doctoral programs 
                      in various fields, including engineering, management, computer applications, science, law,
                       humanities.The university has a sprawling campus in Gwalior, equipped with modern 
                       infrastructure and facilities for students. ITM University offers programs in disciplines 
                       such as engineering, business administration, computer applications, law, education, and 
                       various other fields. These programs are designed to provide students with a well-rounded education 
                       and prepare them for their chosen careers.
                    </p>
                   

                </div>
                <div class="col-md-5 text-center">

                    <img src="https://linkingsky.com/career-news/images/itm-university-gwalior.jpg" class="img shadow-lg" style="width: 320px;">
                </div>
            </div><!--row end-->
        </div><!--container end-->
    </div><!--container-fluid end-->
    <br><br>
    <%- include('footer.ejs')%>
  </body>
</html>
