<%- include('header.ejs')%>
    <div class="container aboutus">
      <div class="row">
        <div class="col-md-6">
          <img src="https://gumlet.assettype.com/Prabhatkhabar/2022-08/f7222505-d116-4a3f-a2f1-53783c27990a/ITM.jpg" class="pic shadow" />
        </div>
        <div class="col-md-6 ">
          <div class="text">
            <h2>About Us</h2>
            <p style="text-align: justify;">
              ITM University is a multidisciplinary private university [2] based in Gwalior, India. The subjects are offered in the field of sciences, engineering, management, fine arts, social sciences, arts, and nursing. It was established under the Act of State Legislature Madhya Pradesh and is notified in the Official Gazette (extraordinary) of the State Government. ITM University came into the limelight when Jammu and Kashmir's Deputy Governor (LG) Manoj Sinha attended a lecture program at ITM University Gwalior on March 24, 2023, calling "Father of the Nation Mahatma Gandhi" an uneducated and uneducated advocate in a stage speech. Said, Mahatma Gandhi's great-grandson Tushar Gandhi has sent a legal notice to Manoj Sinha on this sad episode, and expressed anger over this episode and said it is sad.
            </p>
          </div>
        </div>
      </div>
    </div>
    <%- include('footer.ejs')%>
  </body>
</html>
