<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admission Portal</title>

    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>

    <!--EXTERNAL CSS LINK-->
    <link href="/css/contact.css" rel="stylesheet" />

    <!--FONT AWESOME LINK-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-md">
      <div class="container-fluid">
        <a href="" class="navbar-brand">
          <img
            src="https://applecommunityitmtech.files.wordpress.com/2016/11/itm-university-logo-1.png?w=640"
            class="weblogo2"
          />
        </a>
        <!--mobile view-->
        <button
          class="navbar-toggler"
          data-bs-target="#a"
          data-bs-toggle="collapse"
          y
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <!--mobile view end-->

        <!--menu-->
        <div class="navbar-collapse collapse" id="a">
          <ul class="navbar-nav ms-auto">
            <li><a href="/dashboard" class="nav-link">Home</a></li>
            <li><a href="/aboutus" class="nav-link">About</a></li>
            <li><a href="/contact" class="nav-link">Contact</a></li>
            <div class="dropdown">
              <button
                class="nav-link drop"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <%= n%>
              </button>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li>
                  <a class="dropdown-item active drop_down" href="/profile"
                    >Edit Profile</a
                  >
                </li>
                <li>
                  <a class="dropdown-item active drop_down" href="/logout"
                    >Logout</a
                  >
                </li>
              </ul>
            </div>
          </ul>
          <img
            src="<%= image.url%>"
            width="100px"
            height="100px"
            style="border-radius: 50px"
          />
        </div>
        <!--menu end-->
      </div>
      <!--container-fluid end-->
    </nav>
    <!--nav end-->
  </body>
</html>

<div class="cover">
  <div class="wrapper text-center">
    <header>Send us a Message</header>
    <form action="#">
      <div class="dbl-field">
        <div class="field">
          <input type="text" name="name" placeholder="Enter your name" />
          <i class="fas fa-user"></i>
        </div>
        <div class="field">
          <input type="text" name="email" placeholder="Enter your email" />
          <i class="fas fa-envelope"></i>
        </div>
      </div>
      <div class="dbl-field">
        <div class="field">
          <input type="text" name="phone" placeholder="Enter your phone" />
          <i class="fas fa-phone-alt"></i>
        </div>
      </div>
      <div class="message">
        <textarea placeholder="Write your message" name="message"></textarea>
      </div>
      <div class="button-area">
        <button type="submit">Send Message</button>
        <span></span>
      </div>
      <br />
    </form>
  </div>
</div>
<%- include('footer.ejs')%>
