<div class="footer py-5 text-center">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-3">
          <i class="fa-brands fa-linkedin bold_i"></i>
        </div>

        <div class="col-md-3">
          <i class="fa-brands fa-square-facebook bold_i"></i>
        </div>

        <div class="col-md-3">
          <i class="fa-brands fa-twitter bold_i"></i>
        </div>

        <div class="col-md-3">
          <i class="fa-brands fa-instagram bold_i"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="py-3 text-center last_footer">
    <!--Last Footer-->

    <p class="">Copyright © Designed by: Sujal All right reserved.</p>
  </div>
</body>
</html>
