
<div class="container-fluid"><!--FOOTER-->
  <div class="row footer">
    <div class="col-md-5 text-center">
      <img
        src="image/logo.png"
        class="img"
      />
    </div><!--col-5 div end-->

    <div class="col-md-7 pyy-20">
      <h2 class="head2">
        <span style="color: #000000" ;>CONTACT</span> US
      </h2>
      <p class="para3">
        Madhav Institute of Technology and Science, formerly known as Madhav Engineering College and commonly referred
         to as MITS Gwalior, is a government-aided autonomous institute founded in 1957 and located in Gwalior in the 
         state of Madhya Pradesh, India
      </p>

      <div class="row">

        <div class="col-md-6">
          <p class="para3">
            <b class="bold">Address</b><br />
            Madhav Institute of Technology & Science (MITS), <br>Gola ka Mandir, Gwalior - 474005, <br>Madhya Pradesh, India
          </p>
        </div>

        <div class="col-md-6">
          <p class="para3">
            <b class="bold">Franchise Enquiry</b><br />
            Mobile: <b class="bold">+91 9313663486</b><br />
            Email: <b class="bold">director@mitsgwalior.in</b>
          </p>
        </div>
      </div><!--ROW DIV END-->

      <div class="row">


        <div class="col-md-6">
          <p class="para3">
            <b class="bold">Other Enquiry</b><br />
            Email: <b class="bold">generaloffice@mitsgwalior.in</b>
          </p>
        </div>
      </div><!--ROW DIV END-->

       <div>              
        <i class="fa-brands fa-linkedin bold_i"></i>
        <i class="fa-brands fa-square-facebook bold_i"></i>
        <i class="fa-brands fa-twitter bold_i"></i>
        <i class="fa-brands fa-instagram bold_i"></i>
      </div>

    </div><!--col-7 div end-->
  </div>    
</div><!--footer end-->

</body>
</html>
