
<div class="container-fluid"><!--FOOTER-->
  <div class="row footer">
    <div class="col-md-5 text-center">
      <img
        src="https://applecommunityitmtech.files.wordpress.com/2016/11/itm-university-logo-1.png?w=640"
        class="img"
      />
    </div><!--col-5 div end-->

    <div class="col-md-7 pyy-20">
      <h2 class="head2">
        <span style="color: #000000" ;>CONTACT</span> US
      </h2>
      <p class="para3">
        At ITM University Gwalior you get an opportunity to link your studies to your career plan and personal goals by using combination of compulsory credits, optional credits, self-learning credits, MOOC, non-cgpa credits for curricular and extra-curricular activities. Here you get enormous opportunity to share your ideas and domain expertise with industry leaders. Technically you can craft your own degree.
      </p>

      <div class="row">

        <div class="col-md-6">
          <p class="para3">
            <b class="bold">Address</b><br />
           ITM UNIVERSITY, <br>NH-44,BypassTurari,
           Jhansi Road 
           475001 <br>Madhya Pradesh, India
          </p>
        </div>

        <div class="col-md-6">
          <p class="para3">
            <b class="bold">For Admission Enquiry</b><br />
            Mobile: <b class="bold">+91 9313663486</b><br />
            Email: <b class="bold">admission@itmuniversity.ac.in</b>
          </p>
        </div>
      </div><!--ROW DIV END-->

      <div class="row">


        <div class="col-md-6">
          <p class="para3">
            <b class="bold">Other Enquiry</b><br />
            Email: <b class="bold"> 06264865609</b>
          </p>
        </div>
      </div><!--ROW DIV END-->

       <div>              
        <i class="fa-brands fa-linkedin bold_i"></i>
        <i class="fa-brands fa-square-facebook bold_i"></i>
        <i class="fa-brands fa-twitter bold_i"></i>
        <i class="fa-brands fa-instagram bold_i"></i>
      </div>

    </div><!--col-7 div end-->
  </div>    
</div><!--footer end-->

</body>
</html>
