body{
    font-family: 'Montserrat',sans-serif;
    font-size: 18px;
    background-color: #f9f9f9f9;
  }

.back{
    background-color: white;
   
    box-shadow: 3px;
}

.table {
    border-collapse: separate;
    border-spacing: 0 20px;
   }

.display{
    display:flex
}

.line{
    vertical-align: middle;
}